.logoImage {
    width: 150px;
    height: auto;
}

.navbar {
    background-color: #7AA2ED; 
    color: #060d14; 
    padding: 10px 20px; 
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.navbar-toggler {
    border: none;
    background-color: #7AA2ED; 
    border-radius: 5px; 
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out; 
}

.navbar-toggler:hover {
    background-color: #A9C4EB; 
}

.nav-link {
    padding: 8px 16px; 
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    border-radius: 5px; 
}

.nav-link:hover {
    color: #34495E; 
    background-color: rgba(255, 255, 255, 0.2); 
}

.navbar-nav {
    margin-left: auto; 
    text-align: right; 
}

