.decoracion-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
  
.decoracion-linea {
    flex-grow: 1;
    height: 1px;
    background-color: #000; /* Cambia el color según tus necesidades */
    margin: 0 10px;
}
  
.decoracion-texto {
    white-space: nowrap;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
}